<h1>GScript Index</h1>
<p>You are '<%=h @current_actor.name %>' actor.</p>
<p>Your categories are [<%=h @current_actor.categories.map(&:name).join(', ') %>]. </p>

<% form_tag url_for(:controller => :actors, :action => :login) do -%>
  <%
    option_tags = Actor.all.map {|actor|
      value, name = actor.login, actor.name
      sprintf("<option value=\"%s\"%s>%s</option>",
              value,
              (actor == @current_actor) ? ' selected="selected"' : '',
              h(name))
    }
   %>
  <%= hidden_field_tag(:change, 'CHANGE') -%>
  <%= select_tag 'actor_login', option_tags.join %>
  <%= submit_tag 'CHANGE ACTOR' %>
<% end -%>
<p>Click <%= link_to 'HERE', :action => :init_db %> to update GScript database.</p>

<h2>These actions avaliable</h2>
<p>The '<%=h @current_actor.name %>' actor can choose follow actions.</p>
<ul>
  <% @current_actor.actions.each do |action| -%>
    <li>
      <%= link_to action.iname,
                  :action => :startup,
                  :gaction => action.iname %>
    </li>
  <% end %>
</ul>

<h2>All Ready List</h2>
<ul>
  <% @current_actor.readies.each do |ready| -%>
    <li>
       [<%=h ready.id %>] <%=h ready.message %> -
       <%  ready.selection.each do |value| -%>
       <%=   link_to value,
                     :action => :ready,
                     :ready_id => ready.id,
                     :selected => value %>
       <%  end -%>
     </li>
  <% end %>
</ul>

<h2>Auto Log</h2>
<table border="1">
  <% @current_actor.logs.each do |log| %>
    <tr>
      <th><%= log.action.name %></th>
      <th><%= log.updated_at %></th>
      <th><%= log.active_actors.map(&:name).join(', ') %></th>
      <th>=></th>
      <th><%= log.passive_actors.map(&:name).join(', ') %></th>
    </tr>
    <% log.changes.each do |c| %>
      <tr>
        <td><%= c.item.name %></td>
        <td align="center">
          <%= sprintf("%+d", c.before_value - c.after_value) %>
        </td>
        <td><%= c.before_value %></td>
        <td> => </td>
        <td><%= c.after_value %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h2>All Actions List</h2>
<ul>
  <% Action.all.each do |action| -%>
    <li><%= action.iname %></li>
  <% end %>
</ul>
