<h1>GScript Index</h1>
<p>You are '<%=h @current_actor.name %>' actor.</p>
<p>Your categories are [<%=h @current_actor.categories.map(&:name).join(', ') %>]. </p>

<% form_tag url_for(login_path) do -%>
  <%
    option_tags = Actor.all.map {|actor|
      value, name = actor.login, actor.name
      sprintf("<option value=\"%s\"%s>%s</option>",
              value,
              (actor == @current_actor) ? ' selected="selected"' : '',
              h(name))
    }
   %>
  <%= hidden_field_tag(:change, 'CHANGE') -%>
  <%= select_tag 'actor_login', option_tags.join %>
  <%= submit_tag 'CHANGE ACTOR' %>
<% end -%>
<p>Click <%= link_to 'HERE', :action => :init_db %> to update GScript database.</p>

<h2>These actions avaliable</h2>
<p>The '<%=h @current_actor.name %>' actor can choose follow actions.</p>
<ul>
  <% @current_actor.actions.each do |action| -%>
    <li>
      <%= link_to action.name,
                  gscript_start_path(:gaction => action.iname) %>
      --
      <%=h action.desc %>
    </li>
  <% end %>
</ul>

<h2>All Ready List</h2>
<ul>
  <% @current_actor.readies.each do |ready| -%>
    <li>
       [<%=h ready.id %>] <%=h ready.message %> -
       <%  ready.selection.each do |value| -%>
       <%=   link_to value,
                     gscript_ready_path(:id => ready,
                                        :selected => value) %>
       <%  end -%>
     </li>
  <% end %>
</ul>

<h2>Status</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  <% @current_actor.items.each do |item| -%>
    <tr>
      <td><%=h item.name %></td>
      <td><%=h item.value %></td>
    </tr>
  <% end -%>
</table>

<h2>Action Log</h2>
<table border="1">
  <tr>
    <th>Actor</th>
    <th>Action</th>
    <th>Changes</th>
    <th>Status</th>
    <th>CANCEL</th>
  </tr>
  <% ActionLog.find(:all, :order => 'id DESC').each do |log| -%>
    <tr>
      <td><%=h log.actor.name %></td>
      <td><%=h log.action.name %></td>
      <%
         t = []
         log.changes.each {|c|
           t << h(sprintf("%s.%s: %s => %s",
                          c.actor.name, c.item.name,
                          c.before_value, c.after_value))
         }
      -%>
      <td><%= t.join("<br>") %></td>
      <td><%= log.status %></td>
      <td>
        <% if log.canceled? %>
          CANCELED
        <% else %>
          <% form_tag(gscript_cancel_path(:id => log)) do -%>
            <%= submit_tag "CANCEL" %>
          <% end -%>
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>

<h2>All Actions List</h2>
<ul>
  <% Action.all.each do |action| -%>
    <li><%=h action.name %> -- <%=h action.desc %></li>
  <% end %>
</ul>

